alembic
bleach
blinker
Bootstrap-Flask
click
email-validator
Flask
Flask-Caching
Flask-CKEditor
Flask-Limiter
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
gunicorn
itsdangerous
Jinja2
MarkupSafe
psycopg2-binary
python-dateutil
python-dotenv
SQLAlchemy
Werkzeug
WTForms